@tailwind base;
@tailwind components;
@tailwind utilities;

:root {

}

html {
  scroll-behavior: auto;
  box-sizing: border-box;
  margin: 0;
  padding: 0;

}
body{
  width: 100%;
  overflow: hidden;
}

@media (max-width: 640px) {
  body {
    overflow: visible; 
    width: 100vw;
  }
}

@media (min-width: 641px) and (max-width: 1280px) {
  body {
    overflow: visible; 
    width: 100vw;
  }
}



@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
